<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Restoran</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <header>

        <div class="logo">
            <div class="logo-text">🐱 Cicipin</div>
        </div>

    </header>

    <div class="form-container">

        <div class="detail-section form-section">

            <h2>Edit Restoran</h2>

            <form method="POST">

                <div class="form-group">
                    <label>Nama</label>
                    <input type="text" name="name" value="{{ restaurant['name'] }}">
                </div>

                <div class="form-group">
                    <label>Kategori</label>
                    <input type="text" name="category" value="{{ restaurant['category'] }}">
                </div>

                <div class="form-group">
                    <label>Alamat</label>
                    <input type="text" name="address" value="{{ restaurant['address'] }}">
                </div>

                <div class="form-group">
                    <label>Jam Buka</label>
                    <input type="text" name="opening_hours" value="{{ restaurant.get('opening_hours','') }}">
                </div>

                <div style="text-align:center;">
                    <button class="btn">Simpan</button>
                </div>

            </form>

        </div>
    </div>

</body>

</html>